_docs/
datasets/
experiments/
*.pyc
_compare/html/
__pycache__
*.zip
_tmp/
# Ignore images in analysis results
_analysis/**/*.png
_analysis/**/*.jpg
_analysis/**/*.jpeg
_analysis/**/*.pdf
_analysis/**/*.svg
*.log